/yougram
/yougram-dev
/yougram_linux_amd64
/yougram_linux_arm64
/yougram_macos_arm64

/ai
/assets
/generated
/cookie_encryption_key.bin
/yougram.sq3*
/favicon.png

*.avif
*.heic
*.jpeg
*.jpg
*.jxl
*.png
*.webp
